<% link_to 'welcome.html' do %>
<h3 class="arrow"><< BACK</h3>
<% end %>

<div class="row">
  <div class="col-xs-6 aroundpad">
    <h2>Work #5,6,7,8?</h2>
    <h1>SOME OTHER WORKS...</h1>
    <h2>“Venus, can you...?”</h2>
    <p>Best part of having a intern in your company is they can do everything for you, all the “dirty work” that you don’t wanna do. As an intern, I’m willing to help every colleague in K2. In my believe, there’s a lesson behind every task. The expereince is the lesson. </br>
      I was mostly using my skill of photoshop, illustrator, excel and maybe some coding.</p>
      <div class="tag">Client: Random</div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-4 col-xs-offset-4 padded">
      <p>A summary of work I’ve done for my colleagues.</p>
    </div>
  </div>

<div class="row">
  <div class="col-xs-2">
      <%= image_tag 'work5_01.png', width: 650 %>
  </div>
  <div class="col-xs-10">
    <p>“Venus, can you...?”</p>
    <p>(pick up the business card and deliver to boss)</p>
  </div>
</div>
  <%= image_tag 'work5_02.png', width: 650 %>
  <%= image_tag 'work5_03.png', width: 650 %>
  <%= image_tag 'work5_04.png', width: 650 %>
  <%= image_tag 'work5_05.png', width: 650 %>
  <%= image_tag 'work5_06.png', width: 650 %>
  <%= image_tag 'work5_07.png', width: 650 %>
  <%= image_tag 'work5_08.png', width: 650 %>
  <%= image_tag 'work5_09.png', width: 650 %>
  <%= image_tag 'work5_10.png', width: 650 %>
  <%= image_tag 'work5_11.png', width: 650 %>
  <%= image_tag 'work5_12.png', width: 650 %>
  <%= image_tag 'work5_13.png', width: 650 %>

  <div class="text-center">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4 padded">
        <p>Being an intern is FUN! It makes my working life “less bored” by trying different tasks. When you have a specific post, you do not have to do such large variation of tasks. </br>
          Whenever they need help, I’d try my best to finish the task ASAP, just to ensure that I can help with their work without causing any delay.</p>
        </div>
      </div>
      <% link_to 'recyclebin.html' do %>
      <h3 class="arrow">NEXT >></h3>
      <% end %>
    </div>
