<% link_to 'welcome.html' do %>
<h3><< BACK</h3>
<% end %>

<div class="row">
  <div class="col-xs-6 aroundpad">
    <h2>Work #5,6,7,8?</h2>
    <h1>SOME OTHER WORKS...</h1>
    <h2>“Venus, can you...?”</h2>
    <h2>Best part of having a intern in your company is they can do everything for you, all the “dirty work” that you don’t wanna do. As an intern, I’m willing to help every colleague in K2. In my believe, there’s a lesson behind every task. The expereince is the lesson. </br>
      I was mostly using my skill of photoshop, illustrator, excel and maybe some coding.</h2>
      <div class="tag">Client: Random</div>
    </div>
  </div>

  <div class="text-center">
    <%= image_tag 'work5_1.png', width: 650 %>
    <%= image_tag 'work5_2.png', width: 650 %>
    <%= image_tag 'work5_3.png', width: 650 %>
    <%= image_tag 'work5_4.png', width: 650 %>
    <%= image_tag 'work5_5.png', width: 650 %>
    <%= image_tag 'work5_6.png', width: 650 %>
    <%= image_tag 'work5_7.png', width: 650 %>
    <%= image_tag 'work5_8.png', width: 650 %>

    <% link_to 'recyclebin.html' do %>
    <h3>NEXT >></h3>
    <% end %>
  </div>
