<% link_to 'welcome.html' do %>
<h3 class="arrow"><< BACK</h3>
<% end %>

<div class="row">
  <div class="col-xs-6 aroundpadi">
    <h2>Work #3</h2>
    <h1>ANNUAL DINNER</h1>
    <h2>“Venus, do you wanna join us to annual dinner?”</h2>
    <div class="rightpad">
      <p>It’s the 5th Anniversary of The Bees. And the representative of K2  was chosen as the designer for the annual dinner. We are required to design the theme and all the graphics for annual dinner.</br>
        My responsibility in this task is to refine the backdrop, design for the photobooth and designing the props.</p>
        <div class="tag">Client: The Bees</div>
      </div>
    </div>

    <div class="col-xs-6">
      <%= image_tag 'work3_1.png', width: 650 %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 aroundpadi">
      <h1>THE BACKDROP</h1>
      <p>“Please refine this version, new ideas are also</br>
        welcome. The theme of this year is 5.”</p>
        <%= image_tag 'work3_3.png', width: 650 %>
      </div>
      <div class="col-xs-6">
        <%= image_tag 'work3_2.png', width: 650 %>
        <%= image_tag 'work3_4.png', width: 650 %>
      </div>
    </div>
    <div class="text-center">

      <h2>Final version</h2>
      <%= image_tag 'work3_5.png', width: 650 %>

      <h2>Back and forth, back and forth, back and forth...</h2>
      <div class="col-xs-4 col-xs-offset-4">

        <p>Me and K ( the designer) is working as a team for this backdrop design. He did came up with a brief idea of using a hand as the theme of this design. However, we want to experience more, so i work with some other design for it.
          After receiving comments from K, I did amended the design and ask for his comment again. After this never-ending process of back and forth, K decided to use his original design with some modification.

          The rumor of : people always choosing for the first design IS REAL! </p>
        </div>

      </div>


      <div class="row">
        <div class="col-xs-6 aroundpadi">

          <h1>PHOTOBOOTH AND PROPS</h1>
          <p>“Could you create some Hand related props for annual dinner?”</p>
        </div>

        <div class="col-xs-6">
          <%= image_tag 'work3_6.png', width: 650 %>

        </div>
      </div>

      <div class="row">

        <div class="col-xs-8 aroundpad">
          <%= image_tag 'work3_7.png', width: 650 %>


          <p>Challenge myself.</p>
          <p>It’s really glad that I can finally create something from sketch, I was required to design some props for the photo in annual dinner.

            Following the design from K in the backdrop, I was thinking to use a 3d hand to use as the theme of design.

            I used 3D Blender as the tool of making a realistic 3D hand, and to create pattern. My company didnt require me to work with 3D blender, but I have work with it a few times for personal use, and I feel like 3D blender would be the best solution for this task. As I can control the outlook and texture of it.

            And I decided to challenge myself. Without any help, youtube and google are my biggest support.</p>
          </div>
        </div>
        <%= image_tag 'work3_8.png', width: 650 %>
        <%= image_tag 'work3_9.png', width: 650 %>
        <p>Final pattern</p>
        <%= image_tag 'work3_10.png', width: 650 %>
        <p>Challenge myself... a little more...</p>
        <p>Can we do a 3D hand in real life? I’ve done paper modelling before.
          To make the annual dinner more fun, I decided to make a 3D paper hand!</p>
          <%= image_tag 'work3_11.png', width: 650 %>
          <p>and I also created some graphic and printed on foam-board for annual dinner.</p>
          <%= image_tag 'work3_12.png', width: 650 %>

          <div class="row text-center">
            <div class="col-xs-4 col-xs-offset-4 padded">
              <p>This is the project that I enjoyed the most! So glad that I can work with designer- K. He gave me a lots of room for creative. I may get stuck some time, K will just send me some references for brainstorming. And also, designer-K and A showed me a lot of tricks of using illustrator, which is really usful to me! </br>
                It feels great to challenge yourself and succeed in it. I was doing 3D blender in less than a week, and composing a complicated paper model in 2 days. </br>
                So glad that K2 made something for annual dinner, it’s important to be contributed in workplace, it motivates you.</p>
              </div>

            </div>


            <div class="row text-center">

              <% link_to 'drchau.html' do %>
              <h3 class="arrow bottommargin">NEXT >></h3>
              <% end %>
            </div>
