<% link_to 'welcome.html' do %>
<h3><< BACK</h3>
<% end %>

<div class="row">
  <div class="col-xs-4">
    <h2>Work #3</h2>
    <h1>ANNUAL DINNER</h1>
    <h2>“Venus, do you wanna join us to annual dinner?”</br>
      perhaps you can get creative with our interactive projector!”</h2>
      <h2>It’s the 5th Anniversary of The Bees. And the representative of K2  was chosen as the designer for the annual dinner. We are required to design the theme and all the graphics for annual dinner.</br>
        My responsibility in this task is to refine the backdrop, design for the photobooth and designing the props.</h2>
        <div class="tag">Client: The Bees</div>
      </div>
    </div>
    <%= image_tag 'work3_1.png', width: 650 %>
    <%= image_tag 'work3_2.png', width: 650 %>
    <%= image_tag 'work3_3.png', width: 650 %>
    <%= image_tag 'work3_4.png', width: 650 %>
    <%= image_tag 'work3_5.png', width: 650 %>
    <%= image_tag 'work3_6.png', width: 650 %>
    <%= image_tag 'work3_7.png', width: 650 %>
    <%= image_tag 'work3_8.png', width: 650 %>
    <%= image_tag 'work3_9.png', width: 650 %>
    <%= image_tag 'work3_10.png', width: 650 %>
    <%= image_tag 'work3_11.png', width: 650 %>

    <% link_to 'drchau.html' do %>
    <h3>NEXT >></h3>
    <% end %>
