<% link_to 'welcome.html' do %>
<h3 class="arrow"><< BACK</h3>
<% end %>

<div class="row">
  <div class="col-xs-6 aroundpadi">
    <h2>Work #4</h2>
    <h1>DR CHAU.com</h1>
    <h1>WEBSITE REFRAME</h1>
    <h2 class="rightpad">“Venus, this is a project for 樂苗坊, redesigning their website.”</h2>
    <p class="rightpad">It’s a whole new world~ This is one of the main project during my internship. Partnering with M (another intern in K2), with a project supervisor- B. We have to start from pitching the client to work on the layuot, coding and launching. It is an exciting project!</p>
    <div class="tag">Client: Cheerfulmind Hong Kong</div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4 padded text-center">
    <h2>FYI, this is the old website of Cheerfulmind HK</br>
      http://www.cheerfulmind.com.hk/</h2>
      <p>The old website is so messy, and the design is not up to date. For the first stage of the project, we have to do a “before and after” sitemap. Also, propose a new idea for design by using mood board. Moreover, we have to suggest a solution for organizing the “messy” part.

        The schedule part was organized poorly, it’s long and with loads of information to read. We took most of the time just to figure out how to organize the schedule part.

        The following is our first pitch to client...</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 text-center">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:750px;">
          <!-- Indicators -->

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag 'work4_1.jpg', height: 750 %>
            </div>
            <div class="item">
              <%= image_tag 'work4_2.jpg', height: 750 %>
            </div>
            <div class="item">
              <%= image_tag 'work4_3.jpg', height: 750 %>
            </div>
            <div class="item">
              <%= image_tag 'work4_4.jpg', height: 750 %>
            </div>
            <div class="item">
              <%= image_tag 'work4_5.jpg', height: 750 %>
            </div>
            <div class="item">
              <%= image_tag 'work4_6.jpg', height: 750 %>
            </div>
            <div class="item">
              <%= image_tag 'work4_7.jpg', height: 750 %>
            </div>

          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-4 col-xs-offset-4 padded text-center">

        <h2>“Hi, I’m Doris. Nice to meet you.”</h2>

        <p>Our first pitch with the client was conducted in our office, accompanied by our boss T. The meeting was in the middle of a birthday party, M and I just dropped our cake and rush into the conference room for a meeting. The meeting was great. However, there’s a problem. Our boss wanted to design a whole new set of illustration, but the client-Doris insisted to stick with the old one. It was an interesting conversation of our boss persuading the client to use our own graphic. </br>

          The following is our timetable for the project.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center">
          <%= image_tag 'work4_8.png', width: 878 %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-5 aroundpadi">
          <div class="row">
          <div class="col-xs-12">
              <%= image_tag 'work4_9.png', width: 43, style:'margin-left: 90px;' %>
              <h2>“Download free trial of Sketch.”</h2>
              <p>Sketch is a application made for UI/UX designer and the programmer, to make coding much easier. It is pretty similar to Illustrator, but with Sketch, it helps programmer to translate all code from the design.</br>

                Before designing the layout of website, we have to do a set of wireframe. First, to let our client have a clear overlook on how will the website be structured. Second, for designer to follow the wireframe and design the layout.</br>

                And we are making a set of wireframes...</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <%= image_tag 'work4_10.png', width: 409 %>
              </div>
            </div>
          </div>
          <div class="col-xs-7 aroundpad">
            <%= image_tag 'landing.jpg', width: 300 %>

          </div>
        </div>



        <div class="row">
          <div class="col-xs-4 col-xs-offset-4 padded text-center">

            <h2>“Please modify and refine the illustration</br>
              they have, you may try to work with your style”</h2>

              <p>The sketch is an application made for UI/UX designer and the programmer, to make coding much easier. It is pretty similar to Illustrator, but with Sketch, it helps the programmer to translate all code from the design. </br>

                Before designing the layout of the website, we have to do a set of the wireframe. First, to let our client have a clear overlook on how will the website be structured. Second, for the designer to follow the wireframe and design the layout. </br>

                And we are making a set of wireframes...</p>

                <p>old illustration...</p>
                <%= image_tag 'work4_12.png', width: 146 %>

                <p>some illustration i did...</p>

              </div>
            </div>

            <div class="row">
              <div class="col-xs-4 aroundpad">
                <%= image_tag 'work4_13.png', width: 246 %>
                <p>B:  “use those existing character (with some refinement)
                 instead of the potatoes guys(i think it's cute btw)”</p>

               </div>
             </div>
             <div class="row">
              <div class="col-xs-7"></div>
              <div class="col-xs-5 aroundpad">
                <%= image_tag 'work4_14.png', width: 222 %>
                <p>B:  “could be more realistic base on the shape of the existing family illustration,
                  we simplify it. for example, the hair of the papa no need three layer but one layer with line,
                  the t-shirt pattern more simple, shape of the face more geometric”</p>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-4 aroundpad">
                  <%= image_tag 'work4_15.png', width: 380 %>
                </div>
              </div>


              <div class="row">
                <div class="col-xs-12 text-center">
                 <p>also the layout and animation design...</p>
                 <%= image_tag 'work4_16.png', width: 734 %>

               </div>
             </div>





             <div class="text-center">
              <div class="row">
                <div class="col-xs-4 col-xs-offset-4 padded">
                  <p>Our client has postponed this project few times, I was supposed to finish all the layout design before my internship ended. Unfortunately, I cannot follow up the project till it launches. The postpone is due to client’s holiday, changes of mind, back and forth of the amendment... It is hard to keep everything in time. Although we have created a working timeline for our client, the workflow is still postponed. Following the working timeline is so important for managing the project.</br>

                    It is my first time using Sketch to design. I’ve struggled a bit of using it, as the operation and work panel is quite different from Adobe software, it causes buffer in controlling this application. But things get smoother after some time working with it.</p>
                  </div>
                </div>

                <% link_to 'andsomeworks.html' do %>
                <h3 class="arrow bottommargin">NEXT >></h3>
                <% end %>
              </div>
