<% link_to 'welcome.html' do %>
<h3 class="arrow"><< BACK</h3>
<% end %>

<div class="row">
  <div class="col-xs-6 aroundpad">
    <h2>Work #4</h2>
    <h1>DR CHAU.com WEBSITE REFRAME</h1>
    <h2>“Venus, this is a project for 樂苗坊, redesigning their website.”</br>
      perhaps you can get creative with our interactive projector!”</h2>
      <p>It’s a whole new world~ This is one of the main project during my internship. Partnering with M (another intern in K2), with a project supervisor- B. We have to start from pitching the client to work on the layuot, coding and launching. It is an exciting project!</p>
      <div class="tag">Client: Cheerfulmind Hong Kong</div>
    </div>
  </div>

  <%= image_tag 'work4_1.jpg', width: 650 %>
  <%= image_tag 'work4_2.jpg', width: 650 %>
  <%= image_tag 'work4_4.jpg', width: 650 %>
  <%= image_tag 'work4_4.jpg', width: 650 %>
  <%= image_tag 'work4_5.jpg', width: 650 %>
  <%= image_tag 'work4_6.jpg', width: 650 %>
  <%= image_tag 'work4_7.jpg', width: 650 %>
  <%= image_tag 'work4_8.png', width: 650 %>
  <%= image_tag 'work4_9.png', width: 650 %>
  <%= image_tag 'work4_10.png', width: 650 %>
  <%= image_tag 'work4_11.png', width: 650 %>
  <%= image_tag 'work4_12.png', width: 650 %>
  <%= image_tag 'work4_13.png', width: 650 %>
  <%= image_tag 'work4_14.png', width: 650 %>
  <%= image_tag 'work4_15.png', width: 650 %>
  <%= image_tag 'work4_16.png', width: 650 %>

  <div class="text-center">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4 padded">
        <p>Our client has postponed this project few times, I was supposed to finish all the layout design before my internship end. Unfortunately, I cannot follow up the project till it launches. The postpone is due to client’s holiday, changes of mind, back and forth of amendment... It is hard to keep everything in time. Although we have created a working timeline for our client, the workflow is still postponed. Following the working timeline is so important for managing the project.</br>

          It is my first time using Sketch to design. I’ve struggled a bit of using it, as the operation and work panel is quite different from Adobe software, it causes buffer in controlling this application. But things get smoother after some time working with it.</p>
        </div>
      </div>

      <% link_to 'andsomeworks.html' do %>
      <h3 class="arrow">NEXT >></h3>
      <% end %>
    </div>
