<% link_to 'welcome.html' do %>
<h3><< BACK</h3>
<% end %>

<div class="row">
  <div class="col-xs-4">
    <h2>Work #4</h2>
    <h1>DR CHAU.com WEBSITE REFRAME</h1>
    <h2>“Venus, this is a project for 樂苗坊, redesigning their website.”</br>
      perhaps you can get creative with our interactive projector!”</h2>
      <h2>It’s a whole new world~ This is one of the main project during my internship. Partnering with M (another intern in K2), with a project supervisor- B. We have to start from pitching the client to work on the layuot, coding and launching. It is an exciting project!</h2>
      <div class="tag">Client: Cheerfulmind Hong Kong</div>
    </div>
  </div>
  <div class="text-center">

    <%= image_tag 'work4_1.jpg', width: 650 %>
    <%= image_tag 'work4_2.jpg', width: 650 %>
    <%= image_tag 'work4_4.jpg', width: 650 %>
    <%= image_tag 'work4_4.jpg', width: 650 %>
    <%= image_tag 'work4_5.jpg', width: 650 %>
    <%= image_tag 'work4_6.jpg', width: 650 %>
    <%= image_tag 'work4_7.jpg', width: 650 %>
    <%= image_tag 'work4_8.png', width: 650 %>
    <%= image_tag 'work4_9.png', width: 650 %>
    <%= image_tag 'work4_10.png', width: 650 %>
    <%= image_tag 'work4_11.png', width: 650 %>
    <%= image_tag 'work4_12.png', width: 650 %>
    <%= image_tag 'work4_13.png', width: 650 %>
    <%= image_tag 'work4_14.png', width: 650 %>
    <%= image_tag 'work4_15.png', width: 650 %>
    <%= image_tag 'work4_16.png', width: 650 %>

    <% link_to 'andsomeworks.html' do %>
    <h3>NEXT >></h3>
    <% end %>
  </div>
