<% link_to 'welcome.html' do %>
<h3 class="arrow"><< BACK</h3>
<% end %>

<div class="row">
  <div class="col-xs-6 aroundpad">
    <h2>Work #2</h2>
    <h1>ENTRANCE</h1>
    <h2>“Venus, can you design the entrance for the bees?</br>
      perhaps you can get creative with our interactive projector!”</h2>
      <h2>My second project in K2 is helping The Bees for a make-over of their office. </br>
        As a creative agency, the deisgn of office should be playful. My boss hope I can come up with ideas that can K2 can involve in with programming. </br>
        Without any knowledge in interior and interactive design, I was doing lots of research in order to finish this task.</h2>
        <div class="tag">Client: The Bees</div>
      </div>
    </div>
    <div class="text-center">
      <div class="row">
      <div class="col-xs-3 yellow">
          <h2>1. simple and clean</h2>
        </div>
        <div class="col-xs-9">
          <%= image_tag 'work2_1.gif', width: 713 %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9">
          <%= image_tag 'work2_1.png', width: 650 %>
          <%= image_tag 'work2_2.gif', width: 650 %>
        </div>
        <div class="col-xs-3 yellow">
          <h2>2. interactive wall projection</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 yellow">

          <h2>3. interactive light installation</h2>
        </div>
        <div class="col-xs-9">

          <%= image_tag 'work2_3.gif', width: 650 %>
          <%= image_tag 'work2_4.png', width: 650 %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9">
          <%= image_tag 'work2_5.png', width: 650 %>
          <%= image_tag 'work2_6.gif', width: 650 %>
        </div>
        <div class="col-xs-3 yellow">

          <h2>4. interactive bee hive</h2>
        </div>
      </div>




      <p class="padded">This project didn’t turn out to be executed, however it is a really fun task to do.</p>

      <% link_to 'annualdinner.html' do %>
      <h3 class="arrow">NEXT >></h3>
      <% end %>
    </div>
