<% link_to 'welcome.html' do %>
<h3><< BACK</h3>
<% end %>

<div class="row">
  <div class="col-xs-6 aroundpad">
    <h2>Work #1</h2>
    <h1>RECYCLE BIN</h1>
    <h2>“Venus, can you do a new sign for our recycle bin?”</h2>
    <h2>The very first task in K2 is to re-design the sign for a recycle bin. K2 is a very eco-friendly company with a recycle bin in the office, hoping everyone can help the world by recycling.</br>
      Boss said the old design of the sign doesn’t match with the style of K2 (as a design company), so they need a new design of it. </h2>
      <div class="tag">Client: K2 Digital</div>
    </div>
  </div>
  <div class="text-center">

  <%= image_tag 'work1_1.png', width: 650 %>
  <%= image_tag 'work1_2.png', width: 650 %>
  <%= image_tag 'work1_3.png', width: 650 %>
  <%= image_tag 'work1_4.jpg', width: 650 %>
  <%= image_tag 'work1_4.png', width: 650 %>

<% link_to 'entrance.html' do %>
<h3>NEXT >></h3>
<% end %>
</div>
