<div class="pads">
  <h2 class="aroundpadded">Can you explain how to create a website?</h2>
  <div class="row">
    <div class="col-xs-8">
      <div class="middlebanner" style="background-image: url('<%= image_path 'landing_1.png'%>');">
        <div class="banner-content right">
         <% 15.times do %>
         <p class="text">um... well...</p>
         <% end %>
       </div>
     </div>
   </div>
 </div>
 <h1>Should I start with coding?</h1>
</div>
<div class="text-center padded google">
  <%= image_tag 'landing_2.png', width: 600 %>
</div>
<div class="bigbanner" style="background-image: url('<%= image_path 'landing_3.jpg'%>');">
  <div class="banner-content">
    <h2>The journey begins and</h2>
    <h1>I AM THE ART BASE DESIGNER</h1>
    <h3>that never worked in a web design company.</h3>
    <div class="col-xs-5">
      <h2>K2 digital is a IT based design company, they do have some branding project, but definitely not an ad agency. People may wonder as an advertising student, why don’t you go for an ad agency? Throughout the years as an ad student, i learnt that I’m definitely more of an art direction person than a creative. And I think to myself, why not challenge myself working in a whole new environment? Moreover, K2 digital was finding someone who’s good at art direction.  That’s the reason why I’m in K2 digital.</h2>
    </div>
  </div>
</div>

<div class="row padded">
  <div class="col-xs-6 aroundpad">
    <h2>“ Enhancing my design skills, building connection, get to know about the creative industry.” Right, these are the items that I’ve listed on my internship contract. It may sound cliche, but they are what i expected at first.  As days goes by, i realised there are more to be expected…
    </h2>
  </div>
  <div class="col-xs-6 left">
    <%= image_tag 'landing_4.jpg', height: 300 %>
  </div>
</div>
<div class="text-center">
  <%= image_tag 'WELCOME.png', style: 'width: 100vw; padding: 100px;' %>
  <h2>to</h2>
  <h2>K2 DIGITAL</h2>
  <h2>“Hi, I’m Venus the intern.”</h2>
  <h2>MEET THE TEAM.</h2>
  <%= image_tag 'landing_5.jpg', width: 500 %>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 text-center">
      <h2>K2 is small, there are only 11 employees ( including the boss and 2 interns). With 2 major departments: IT and design. No doubt that I’m working in the design departments.</br>
        Basically, in K2, people usually work as a team of 2-3 for a project, a designer and 1-2 developers. Designers in K2 are called the UI/UX designer, they are designing all the layout for the projects and let the developers to make things happen. </h2>
      </div>
    </div>
    <%= image_tag 'landing_team.png', width: 950 %>
  </div>
  <div class="row padded">
    <div class="col-xs-8">
      <h2>beside working,</h2>
      <h1>I AM THE ART BASE DESIGNER</h1>
      <h3>that never worked in a web design company.</h3>
      <h2>K2 digital is a IT based design company, they do have some branding project, but definitely not an ad agency. People may wonder as an advertising student, why don’t you go for an ad agency? Throughout the years as an ad student, i learnt that I’m definitely more of an art direction person than a creative. And I think to myself, why not challenge myself working in a whole new environment? Moreover, K2 digital was finding someone who’s good at art direction.  That’s the reason why I’m in K2 digital.</h2>
      <%= image_tag 'landing_6.jpg', width: 650 %>
    </div>
    <div class="col-xs-4">

      <% link_to 'recyclebin.html' do %>
      <h3>#1</h3>
      <h3>RECYCLE BIN</h3>
      <% end %>

      <% link_to 'entrance.html' do %>
      <h3>#2</h3>
      <h3>ENTRANCE</h3>
      <% end %>

      <% link_to 'annualdinner.html' do %>
      <h3>#3</h3>
      <h3>ANNUAL DINNER</h3>
      <% end %>

      <% link_to 'drchau.html' do %>
      <h3>#4</h3>
      <h3>DR.CHAU</h3>
      <% end %>

      <% link_to 'andsomeworks.html' do %>
      <h3>#5</h3>
      <h3>AND SOME WORKS</h3>
      <% end %>

    </div>
  </div>
